## Hands-on 3B

#### Build a Decision Tree classifier to predict the survivality of the Titanic passengers based on the data pre-processed in Hands-on 2C.

In [1]:
# Initialization
%matplotlib inline
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
# Import libraries
from pandas import read_csv
from sklearn.model_selection import train_test_split as split, KFold, GridSearchCV
from sklearn.tree import DecisionTreeClassifier

In [3]:
# Read data from csv file
df = read_csv("titanic_processed.csv")
df.sample(5)

     Pclass   Age  SibSp  Parch     Fare  Survived  Gender_female  Gender_male
102       1  21.0      0      1  77.2875         0          False         True
555       1  62.0      0      0  26.5500         0          False         True
273       1  37.0      0      1  29.7000         0          False         True
829       1  62.0      0      0  80.0000         1           True        False
608       2  22.0      1      2  41.5792         1           True        False

**To do:**
- Store the features as variable X and targets as variable y
- Split the features and targets into training and testing sets

In [5]:
X = df.drop(columns=["Survived"])
y = df["Survived"]
X_train, X_test, y_train, y_test = split(X, y, test_size=0.2, random_state=42)

**To do:**
- Evaluate the performance of decision tree classifier on this dataset (using the default hyperparameter values)

In [12]:
dtc1 = DecisionTreeClassifier(random_state=42).fit(X_train, y_train)
print(f"dtc1 train score: {dtc1.score(X_train, y_train):.3%}")
print(f"dtc1 test score: {dtc1.score(X_test, y_test):.3%}")

dtc1 train score: 97.893%
dtc1 test score: 74.302%

**To do:**
- Use grid search to fine tune the following hyperparameters
    * criterion ('gini' or 'entropy')
    * max_leaf_nodes (from 2 to 20)

In [14]:
params = {}
params['criterion'] = ['gini', 'entropy']
params['max_leaf_nodes'] = range(2, 21)
params['max_depth'] = range(1, 21)
kf = KFold(n_splits=5, shuffle=True, random_state=42)
grid = GridSearchCV(DecisionTreeClassifier(), params, cv=kf, n_jobs=-1, verbose=2)
grid.fit(X_train, y_train)
print(grid.best_params_)

Fitting 5 folds for each of 760 candidates, totalling 3800 fits
{'criterion': 'gini', 'max_depth': 3, 'max_leaf_nodes': 7}

**To do:**
- Train a decision tree classifier with the best set of hyperparameter values
- Evaluate the performance of the resulting classifier

In [15]:
dtc2 = DecisionTreeClassifier(**grid.best_params_, random_state=42).fit(X_train, y_train)
print(f"dtc2 train score: {dtc2.score(X_train, y_train):.3%}")
print(f"dtc2 test score: {dtc2.score(X_test, y_test):.3%}")

dtc2 train score: 83.427%
dtc2 test score: 79.888%